<div>
  <p>ARTIST STATEMENT</p>
  <div class="mainHolder">
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Porttitor proin
      maecenas non porta tellus velit. Integer quis iaculis hac parturient proin
      arcu elit finibus vitae. Gravida vestibulum taciti aenean porta mattis
      dui. Iaculis tempor neque a ullamcorper ut a maximus quam. Ac in ipsum leo
      luctus augue neque; suspendisse luctus. Porttitor ridiculus mus vestibulum
      placerat pellentesque? Dolor velit pulvinar blandit tempus iaculis aptent
      arcu quam. Ad luctus gravida sollicitudin augue pellentesque. Consectetur
      cubilia litora et accumsan scelerisque justo. Condimentum class hac urna
      donec, dolor rutrum. Ac cubilia fusce arcu egestas volutpat duis. Nam sed
      tempus consectetur feugiat sagittis pharetra tortor posuere.
    </p>
    <div class="artwork"></div>
  </div>
</div>
