<p>artwork-10 works!</p>
<div class="modalHolder">
  <div class="artworkHolder">
    <img src="assets/Art/IMG-20241103-WA0028.jpg" class="artwork" />
  </div>
  <div class="artworkDetails">
    <div class="artworkTitle">Liquid Smooth, In My Prime</div>
    <div class="artworkMedium">Digital Print, on White Paper (20cm x 28cm)</div>
  </div>
  <!-- <div class="extras">
    <img src="assets/Art/20241103_220607.jpg" class="artwork" />
    <img src="assets/Art/20241103_221842.jpg" class="artwork" />
  </div> -->
  <!-- <div class="artworkDescription"></div> -->
</div>
