@if(selectedArtwork === 0) {
<div class="artworksHolder">
  <!-- <div class="artwork1" (click)="openArtworkDetails(1)">
  </div> -->
  <img
    src="assets/Art/20241103_220557.jpg"
    class="artwork1"
    (click)="openArtworkDetails(1)"
  />
  <img
    src="assets/Art/20241103_221523.jpg"
    class="artwork1"
    (click)="openArtworkDetails(2)"
  />
  <img
    src="assets/Art/20241103_221610.jpg"
    class="artwork1"
    (click)="openArtworkDetails(3)"
  />
  <img
    src="assets/Art/20241103_221458.jpg"
    class="artwork1"
    (click)="openArtworkDetails(4)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0001.jpg"
    class="artwork1"
    (click)="openArtworkDetails(5)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0004.jpg"
    class="artwork1"
    (click)="openArtworkDetails(6)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0003.jpg"
    class="artwork1"
    (click)="openArtworkDetails(7)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0006.jpg"
    class="artwork1"
    (click)="openArtworkDetails(8)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0002.jpg"
    class="artwork1"
    (click)="openArtworkDetails(9)"
  />
  <img
    src="assets/Art2/IMG-20241104-WA0000.jpg"
    class="artwork1"
    (click)="openArtworkDetails(10)"
  />
  <img
    src="assets/Art/20241103_222056.jpg"
    class="artwork1"
    (click)="openArtworkDetails(11)"
  />
  <img
    src="assets/Art/20241103_223227.jpg"
    class="artwork1"
    (click)="openArtworkDetails(12)"
  />
  <img
    src="assets/Art/20241103_223020.jpg"
    class="artwork1"
    (click)="openArtworkDetails(13)"
  />
</div>
} @else if(selectedArtwork === 1) {
<app-artwork-1></app-artwork-1>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 2) {
<app-artwork-2></app-artwork-2>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 3) {
<app-artwork-3></app-artwork-3>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 4) {
<app-artwork-4></app-artwork-4>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 5) {
<app-artwork-5></app-artwork-5>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 6) {
<app-artwork-6></app-artwork-6>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 7) {
<app-artwork-7></app-artwork-7>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 8) {
<app-artwork-8></app-artwork-8>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 9) {
<app-artwork-9></app-artwork-9>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 10) {
<app-artwork-10></app-artwork-10>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 11) {
<app-artwork-11></app-artwork-11>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 12) {
<app-artwork-12></app-artwork-12>
<div class="closeButton" (click)="closeModal()">X</div>
} @else if(selectedArtwork === 13) {
<app-artwork-13></app-artwork-13>
<div class="closeButton" (click)="closeModal()">X</div>
}
