<p>artwork-4 works!</p>
<div class="modalHolder">
  <div class="artworkHolder">
    <img src="assets/Art/20241103_215857.jpg" class="artwork" />
  </div>
  <div class="artworkDetails">
    <div class="artworkTitle">In The Corner, Taking Up Space</div>
    <div class="artworkMedium">28cm x 60cm</div>
  </div>
  <div class="extras">
    <img src="assets/Art/20241103_215805.jpg" class="artwork" />
    <img src="assets/Art/20241103_215800.jpg" class="artwork" />
  </div>
  <div class="artworkDescription">
    <p>
      "Losing" is a four-piece collection that delves into the darker corners of
      my emotional landscape. The deliberate choice of graphite as a medium
      signifies my eluctance to abandon my perfectionistic tendencies, a trait
      that surfaces in my inclination towards realism when drawing – a style
      that demands precision and control.
    </p>
    <p>
      By opting for pencil, I intentionally surrendered color, mirroring the way
      my world lost its vibrancy when art was no longer my primary means of
      self-expression. The resulting monochromatic palette is a symbol of the
      emotional numbness that ensued, as if the very hues of my life had faded
      away leaving only shades of grey.
    </p>
    <p>
      The texture of my artwork is defined by raw, unsettling marks, mirroring
      the chaotic emotions that drove me to create a more haunted and tumultuous
      imagery from the original source material.
    </p>
    <p>
      The faded, absent figures and silhouettes embody my disconnection from my
      artistic self, a manifestation of the longing to regain a sense of purpose
      and unity, and to fill the void that has taken hold. This is a visual
      representation of my intense desire to heal, reintegrate, and rediscover
      my love for art and myself again.
    </p>
  </div>
</div>
