<div class="cvHolder">
  <div class="detailsHolder">
    <div class="heading">ARTIST CV</div>
    <h2 class="text">EZEKIEL DE GUZMAN</h2>
    <div class="text">Born 2001</div>
    <h2 class="text">EDUCATION</h2>
    <div class="text">BA in Multimedia Visual Arts (UNISA, 2021-)</div>
    <h2 class="text">EXHIBITIONS</h2>
    <div class="text">PJ Olivier Art Centre Grade 10 (2018)</div>
    <div class="text">PJ Olivier Art Centre Grade 11 (2019)</div>
    <div class="text">UNISA 3rd year exhibition (2024)</div>
    <h2 class="text">CONTACT</h2>
    <p class="text">ezekieldg418&#64;gmail.com</p>
  </div>
</div>
