<div class="modalHolder">
  <div class="artworkHolder">
    <img src="assets/Art/20241103_222726.jpg" class="artwork" />
  </div>
  <div class="artworkDetails">
    <div class="artworkTitle">Hold Onto Me</div>
    <div class="artworkMedium">57cm x 90cm</div>
  </div>
  <div class="extras">
    <img src="assets/Art/20241103_222337.jpg" class="artwork" />
    <img src="assets/Art/20241103_222311.jpg" class="artwork" />
  </div>
  <!-- <div class="artworkDescription">
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Porttitor proin
      maecenas non porta tellus velit. Integer quis iaculis hac parturient proin
      arcu elit finibus vitae. Gravida vestibulum taciti aenean porta mattis
      dui. Iaculis tempor neque a ullamcorper ut a maximus quam. Ac in ipsum leo
      luctus augue neque; suspendisse luctus.
    </p>
    <p>
      Porttitor ridiculus mus vestibulum placerat pellentesque? Dolor velit
      pulvinar blandit tempus iaculis aptent arcu quam. Ad luctus gravida
      sollicitudin augue pellentesque. Consectetur cubilia litora et accumsan
      scelerisque justo. Condimentum class hac urna donec, dolor rutrum. Ac
      cubilia fusce arcu egestas volutpat duis. Nam sed tempus consectetur
      feugiat sagittis pharetra tortor posuere.
    </p>
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Porttitor proin
      maecenas non porta tellus velit. Integer quis iaculis hac parturient proin
      arcu elit finibus vitae. Gravida vestibulum taciti aenean porta mattis
      dui. Iaculis tempor neque a ullamcorper ut a maximus quam. Ac in ipsum leo
      luctus augue neque; suspendisse luctus.
    </p>
    <p>
      Porttitor ridiculus mus vestibulum placerat pellentesque? Dolor velit
      pulvinar blandit tempus iaculis aptent arcu quam. Ad luctus gravida
      sollicitudin augue pellentesque. Consectetur cubilia litora et accumsan
      scelerisque justo. Condimentum class hac urna donec, dolor rutrum. Ac
      cubilia fusce arcu egestas volutpat duis. Nam sed tempus consectetur
      feugiat sagittis pharetra tortor posuere.
    </p>

    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Porttitor proin
      maecenas non porta tellus velit. Integer quis iaculis hac parturient proin
      arcu elit finibus vitae. Gravida vestibulum taciti aenean porta mattis
      dui. Iaculis tempor neque a ullamcorper ut a maximus quam. Ac in ipsum leo
      luctus augue neque; suspendisse luctus.
    </p>
    <p>
      Porttitor ridiculus mus vestibulum placerat pellentesque? Dolor velit
      pulvinar blandit tempus iaculis aptent arcu quam. Ad luctus gravida
      sollicitudin augue pellentesque. Consectetur cubilia litora et accumsan
      scelerisque justo. Condimentum class hac urna donec, dolor rutrum. Ac
      cubilia fusce arcu egestas volutpat duis. Nam sed tempus consectetur
      feugiat sagittis pharetra tortor posuere.
    </p>
  </div> -->
</div>
