.navHolder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;

  margin-bottom: 24px;
  /* background-color: blue; */
}

.name {
  /* background-color: red; */
  width: 100%;
  font-size: 32px;
  margin-left: 48px;
  font-family: Helvetica;
}

.navItemHolder {
  /* background-color: green; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.navItem {
  margin-right: 24px;
  font-family: Helvetica;
}

.navItem:hover,
.name:hover {
  cursor: pointer;
}
