<p>artwork-3 works!</p>
<div class="modalHolder">
  <div class="artworkHolder">
    <img src="assets/Art/20241103_220709.jpg" class="artwork" />
  </div>
  <div class="artworkDetails">
    <div class="artworkTitle">One Word From You</div>
    <div class="artworkMedium">28cm x 60cm</div>
  </div>
  <div class="extras">
    <img src="assets/Art/20241103_221014.jpg" class="artwork" />
    <img src="assets/Art/20241103_220959.jpg" class="artwork" />
  </div>
  <div class="artworkDescription">
    <p>
      Like the others, the title of Figure 8 are lyrics from Mitski’s songs. The
      line continues: “One word from you… and I would jump off of this ledge I'm
      on. Tell me ‘don't’ so I can crawl back in.” This piece represents the
      suffocating pressure to conform to others' expectations, a creative
      constraint that undermines my artistic voice. I'm perpetually caught
      between pursuing my genuine vision and catering to external validation,
      and I find myself trapped in a cycle of self-doubt and self-compromise
      where I have to sacrifice my creative freedom just to meet the
      expectations of others.
    </p>
  </div>
</div>
